body {
    width: 100%;
    height: 100%;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    background-attachment: fixed;
}

.container {
    display: grid;
    width: 100%;
    height: 100vh;
}

.container.page2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.main-header {
    margin: auto;
    width: auto;
    height: auto;
    font-size: 6em;
    color: white;
}

.main-text {
    margin: auto;
    grid-row-start: 3;
    grid-column: 1 / -1;
    height: auto;
    width: 80%;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 5%;
}

.code-snippet {
    background-color: grey;
    color:white;
    width: 60%;
    text-align:left;
}

.install-button {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(95, 75, 75);
    border-radius:10px;
    width:400px;
    font-size: 2em;
    color: white;
    padding: 10px;
    text-align: center;
}